In [1]:
import numpy as np
import pandas as pd
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
import warnings
warnings.filterwarnings('ignore')

2023-01-10 13:37:59.358938: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

WARNING:tensorflow:From /home/bravo8234/anaconda3/lib/python3.9/site-packages/tensorflow/python/compat/v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [296]:
tracks = pd.read_csv("/home/bravo8234/Desktop/kaggle_datasets/fma_metadata/tracks.csv")
tracks.head()

/tmp/ipykernel_247772/3585816232.py:1: DtypeWarning: Columns (0,1,5,6,8,12,18,20,21,22,24,33,34,38,39,44,47,49) have mixed types. Specify dtype option on import or set low_memory=False.
  tracks = pd.read_csv("/home/bravo8234/Desktop/kaggle_datasets/fma_metadata/tracks.csv")

,Unnamed: 0,album,album.1,album.2,album.3,album.4,album.5,album.6,album.7,album.8,...,track.10,track.11,track.12,track.13,track.14,track.15,track.16,track.17,track.18,track.19
0,NaN,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
1,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
4,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World

In [11]:
tracks.columns

Index(['Unnamed: 0', 'album', 'album.1', 'album.2', 'album.3', 'album.4',
       'album.5', 'album.6', 'album.7', 'album.8', 'album.9', 'album.10',
       'album.11', 'album.12', 'artist', 'artist.1', 'artist.2', 'artist.3',
       'artist.4', 'artist.5', 'artist.6', 'artist.7', 'artist.8', 'artist.9',
       'artist.10', 'artist.11', 'artist.12', 'artist.13', 'artist.14',
       'artist.15', 'artist.16', 'set', 'set.1', 'track', 'track.1', 'track.2',
       'track.3', 'track.4', 'track.5', 'track.6', 'track.7', 'track.8',
       'track.9', 'track.10', 'track.11', 'track.12', 'track.13', 'track.14',
       'track.15', 'track.16', 'track.17', 'track.18', 'track.19'],
      dtype='object')

In [297]:
tracks.loc[0,'Unnamed: 0'] = 'track_id'

In [298]:
tracks.head()

,Unnamed: 0,album,album.1,album.2,album.3,album.4,album.5,album.6,album.7,album.8,...,track.10,track.11,track.12,track.13,track.14,track.15,track.16,track.17,track.18,track.19
0,track_id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
1,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
4,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World

In [299]:
wanted_col = tracks.loc[0]
type(wanted_col)

pandas.core.series.Series

In [300]:
type(tracks.columns)

pandas.core.indexes.base.Index

In [301]:
list(tracks.columns.values)

['Unnamed: 0',
 'album',
 'album.1',
 'album.2',
 'album.3',
 'album.4',
 'album.5',
 'album.6',
 'album.7',
 'album.8',
 'album.9',
 'album.10',
 'album.11',
 'album.12',
 'artist',
 'artist.1',
 'artist.2',
 'artist.3',
 'artist.4',
 'artist.5',
 'artist.6',
 'artist.7',
 'artist.8',
 'artist.9',
 'artist.10',
 'artist.11',
 'artist.12',
 'artist.13',
 'artist.14',
 'artist.15',
 'artist.16',
 'set',
 'set.1',
 'track',
 'track.1',
 'track.2',
 'track.3',
 'track.4',
 'track.5',
 'track.6',
 'track.7',
 'track.8',
 'track.9',
 'track.10',
 'track.11',
 'track.12',
 'track.13',
 'track.14',
 'track.15',
 'track.16',
 'track.17',
 'track.18',
 'track.19']

In [302]:
dict_cols = dict(zip(list(tracks.columns.values), list(tracks.loc[0].values)))

In [303]:
tracks = tracks.rename(columns=dict_cols)

In [304]:
tracks.head()

,track_id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
0,track_id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
1,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
4,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World

In [305]:
tracks = tracks.drop([0,1])
tracks.head()

,track_id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
2,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
4,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
5,10,0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4,6,NaN,47632,NaN,...,NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
6,20,0,2008-11-26 01:45:05,2009-01-06 00:00:00,NaN,2,4,"<p>Â ""spiritual songs"" from Nicky Cook</p>",2710,NaN,...,NaN,978,en,Attribution-NonCommercial-NoDerivatives (aka M...,361,NaN,3,NaN,[],Spiritual Level

In [63]:
len(tracks.columns)

53

In [45]:
unwanted_columns = pd.DataFrame()

In [134]:
columns = list(set(tracks.columns.values))
len(columns)

53

In [127]:
dict_cols = {columns[i]: 0 for i in range(len(columns))}

In [128]:
for col in list(tracks.columns.values):
    dict_cols[col] += 1

In [129]:
dict_cols

{'listens_1': 1,
 'title_2': 1,
 'longitude': 1,
 'location': 1,
 'genres_all': 1,
 'id_2': 1,
 'listens_2': 1,
 'track_id': 1,
 'publisher': 1,
 'engineer': 1,
 'license': 1,
 'wikipedia_page': 1,
 'producer': 1,
 'active_year_begin': 1,
 'date_created_3': 1,
 'composer': 1,
 'information_1': 1,
 'information_2': 1,
 'split': 1,
 'date_released': 1,
 'bit_rate': 1,
 'related_projects': 1,
 'date_created_1': 1,
 'tracks': 1,
 'interest': 1,
 'name': 1,
 'members': 1,
 'date_recorded': 1,
 'type': 1,
 'bio': 1,
 'comments': 3,
 'favorites': 3,
 'id_1': 1,
 'latitude': 1,
 'subset': 1,
 'duration': 1,
 'genres': 1,
 'genre_top': 1,
 'active_year_end': 1,
 'tags': 3,
 'lyricist': 1,
 'number': 1,
 'associated_labels': 1,
 'date_created_2': 1,
 'website': 1,
 'language_code': 1,
 'title_1': 1}

In [101]:
tracks = tracks.rename(columns={"Goods_2":"title_2","Goods_1":"title_1"})

In [322]:
tracks = tracks.drop(columns=["lyricist","number","publisher"])

In [323]:
tracks.columns.values

array(['track_id', 'id', 'id', 'split', 'subset', 'bit_rate', 'duration',
       'genre_top'], dtype=object)

In [325]:
cols = []
count = 1
for column in tracks.columns:
    if column == 'id':
        cols.append(f'id_{count}')
        count+=1
        continue
    cols.append(column)
tracks.columns = cols

In [326]:
tracks = tracks.rename(columns={"id_1":"album_id","id_2":"artist_id"})

In [327]:
tracks.head()

  track_id album_id artist_id     split  subset bit_rate duration genre_top
2        2        1         1  training   small   256000      168   Hip-Hop
3        3        1         1  training  medium   256000      237   Hip-Hop
4        5        1         1  training   small   256000      206   Hip-Hop
5       10        6         6  training   small   192000      161       Pop
6       20        4         4  training   large   256000      311       NaN

In [147]:
tracks["subset"]

2          small
3         medium
4          small
5          small
6          large
           ...
106571     large
106572     large
106573     large
106574     large
106575     large
Name: subset, Length: 106574, dtype: object

In [151]:
small_tracks = tracks[tracks['subset'] == 'small']

In [231]:
tracks = tracks.drop(columns={"genres","genres_all"})

In [232]:
tracks.columns

Index(['track_id', 'album_id', 'artist_id', 'split', 'subset', 'bit_rate',
       'duration', 'genre_top'],
      dtype='object')

In [233]:
tracks = tracks.dropna()

In [234]:
tracks.head()

   track_id album_id artist_id     split  subset bit_rate duration genre_top
2         2        1         1  training   small   256000      168   Hip-Hop
3         3        1         1  training  medium   256000      237   Hip-Hop
4         5        1         1  training   small   256000      206   Hip-Hop
5        10        6         6  training   small   192000      161       Pop
11      134        1         1  training  medium   256000      207   Hip-Hop

In [225]:
tracks.isna().any()

track_id      False
album_id      False
artist_id     False
split         False
subset        False
bit_rate      False
duration      False
genre_top     False
genres        False
genres_all    False
dtype: bool

In [328]:
genres = pd.read_csv("/home/bravo8234/Desktop/kaggle_datasets/fma_metadata/genres.csv")

In [330]:
genres = genres.drop(columns={"#tracks","top_level","parent"})

In [329]:
genres = genres[genres["#tracks"] > 0]

In [331]:
genres.head()

   genre_id          title
0         1    Avant-Garde
1         2  International
2         3          Blues
3         4           Jazz
4         5      Classical

In [265]:
genres[genres["title"] == "Banter"]["genre_id"].values

array([374])

In [332]:
genres_dict = dict(zip(genres.title,genres.index))

In [338]:
tracks = tracks.dropna()

In [336]:
tracks["genre_id"].replace(genres_dict,inplace=True)

In [339]:
tracks = tracks.drop(columns={"split","subset","genre_top"})

In [340]:
tracks["bit_rate"].apply(lambda x: int(x))

2         256000
3         256000
4         256000
5         192000
11        256000
           ...
106570    320000
106571    320000
106572    320000
106573    320000
106574    320000
Name: bit_rate, Length: 49598, dtype: int64

In [343]:
tracks.head()

   track_id album_id artist_id bit_rate duration  genre_id
2         2        1         1   256000      168      20.0
3         3        1         1   256000      237      20.0
4         5        1         1   256000      206      20.0
5        10        6         6   192000      161       9.0
11      134        1         1   256000      207      20.0

In [342]:
for col in list(tracks.columns.values):
    tracks[col].apply(lambda x: int(x))

In [ ]:
tracks.to_csv(file_name, sep='\t', encoding='utf-8')

In [32]:
updated_songs = pd.read_csv("data/songs_with_genre.csv", index_col=0,header=[0, 1, 2])
updated_songs.head()

feature    chroma_cens                                                    \
statistics    kurtosis
number              01        02        03        04        05        06
track_id
2             7.180653  5.230309  0.249321  1.347620  1.482478  0.531371
3             1.888963  0.760539  0.345297  2.295201  1.654031  0.067592
5             0.527563 -0.077654 -0.279610  0.685883  1.937570  0.880839
10            3.702245 -0.291193  2.196742 -0.234449  1.367364  0.998411
134           0.918445  0.674147  0.577818  1.281117  0.933746  0.078177

feature                                             ...   tonnetz            \
statistics                                          ...       std
number            07        08        09        10  ...        05        06
track_id                                            ...
2           1.481593  2.691455  0.866868  1.341231  ...  0.012226  0.012111
3           1.366848  1.054094  0.108103  0.619185  ...  0.014212  0.017740
5          -0.923192 -0.927232  0.666617  1.038546  ...  0.012691  0.014759
10          1.770694  1.604566  0.521217  1.982386  ...  0.017952  0.013921
134         1.199204 -0.175223  0.925482  1.438509  ...  0.016322  0.015819

feature           zcr                                                         \
statistics   kurtosis       max      mean    median  min      skew       std
number             01        01        01        01   01        01        01
track_id
2            5.758890  0.459473  0.085629  0.071289  0.0  2.089872  0.061448
3            2.824694  0.466309  0.084578  0.063965  0.0  1.716724  0.069330
5            6.808415  0.375000  0.053114  0.041504  0.0  2.193303  0.044861
10          21.434212  0.452148  0.077515  0.071777  0.0  3.542325  0.040800
134          4.731087  0.419434  0.064370  0.050781  0.0  1.806106  0.054623

feature                genre_id
statistics Unnamed: 519_level_1
number     Unnamed: 519_level_2
track_id
2                            20
3                            20
5                            20
10                            9
134                          20

[5 rows x 519 columns]

In [33]:
updated_songs.rename(columns={'Unnamed: 519_level_1':'genre_id','Unnamed: 519_level_2':'genre_id'},inplace=True)

In [34]:
updated_songs.head()

feature    chroma_cens                                                    \
statistics    kurtosis
number              01        02        03        04        05        06
track_id
2             7.180653  5.230309  0.249321  1.347620  1.482478  0.531371
3             1.888963  0.760539  0.345297  2.295201  1.654031  0.067592
5             0.527563 -0.077654 -0.279610  0.685883  1.937570  0.880839
10            3.702245 -0.291193  2.196742 -0.234449  1.367364  0.998411
134           0.918445  0.674147  0.577818  1.281117  0.933746  0.078177

feature                                             ...   tonnetz            \
statistics                                          ...       std
number            07        08        09        10  ...        05        06
track_id                                            ...
2           1.481593  2.691455  0.866868  1.341231  ...  0.012226  0.012111
3           1.366848  1.054094  0.108103  0.619185  ...  0.014212  0.017740
5          -0.923192 -0.927232  0.666617  1.038546  ...  0.012691  0.014759
10          1.770694  1.604566  0.521217  1.982386  ...  0.017952  0.013921
134         1.199204 -0.175223  0.925482  1.438509  ...  0.016322  0.015819

feature           zcr                                                         \
statistics   kurtosis       max      mean    median  min      skew       std
number             01        01        01        01   01        01        01
track_id
2            5.758890  0.459473  0.085629  0.071289  0.0  2.089872  0.061448
3            2.824694  0.466309  0.084578  0.063965  0.0  1.716724  0.069330
5            6.808415  0.375000  0.053114  0.041504  0.0  2.193303  0.044861
10          21.434212  0.452148  0.077515  0.071777  0.0  3.542325  0.040800
134          4.731087  0.419434  0.064370  0.050781  0.0  1.806106  0.054623

feature    genre_id
statistics genre_id
number     genre_id
track_id
2                20
3                20
5                20
10                9
134              20

[5 rows x 519 columns]

In [35]:
out_csv = updated_songs.copy()
out_csv = out_csv.iloc[0:0]

In [36]:
out_csv.head()

Empty DataFrame
Columns: [(chroma_cens, kurtosis, 01), (chroma_cens, kurtosis, 02), (chroma_cens, kurtosis, 03), (chroma_cens, kurtosis, 04), (chroma_cens, kurtosis, 05), (chroma_cens, kurtosis, 06), (chroma_cens, kurtosis, 07), (chroma_cens, kurtosis, 08), (chroma_cens, kurtosis, 09), (chroma_cens, kurtosis, 10), (chroma_cens, kurtosis, 11), (chroma_cens, kurtosis, 12), (chroma_cens, max, 01), (chroma_cens, max, 02), (chroma_cens, max, 03), (chroma_cens, max, 04), (chroma_cens, max, 05), (chroma_cens, max, 06), (chroma_cens, max, 07), (chroma_cens, max, 08), (chroma_cens, max, 09), (chroma_cens, max, 10), (chroma_cens, max, 11), (chroma_cens, max, 12), (chroma_cens, mean, 01), (chroma_cens, mean, 02), (chroma_cens, mean, 03), (chroma_cens, mean, 04), (chroma_cens, mean, 05), (chroma_cens, mean, 06), (chroma_cens, mean, 07), (chroma_cens, mean, 08), (chroma_cens, mean, 09), (chroma_cens, mean, 10), (chroma_cens, mean, 11), (chroma_cens, mean, 12), (chroma_cens, median, 01), (chroma_cens, median, 02), (chroma_cens, median, 03), (chroma_cens, median, 04), (chroma_cens, median, 05), (chroma_cens, median, 06), (chroma_cens, median, 07), (chroma_cens, median, 08), (chroma_cens, median, 09), (chroma_cens, median, 10), (chroma_cens, median, 11), (chroma_cens, median, 12), (chroma_cens, min, 01), (chroma_cens, min, 02), (chroma_cens, min, 03), (chroma_cens, min, 04), (chroma_cens, min, 05), (chroma_cens, min, 06), (chroma_cens, min, 07), (chroma_cens, min, 08), (chroma_cens, min, 09), (chroma_cens, min, 10), (chroma_cens, min, 11), (chroma_cens, min, 12), (chroma_cens, skew, 01), (chroma_cens, skew, 02), (chroma_cens, skew, 03), (chroma_cens, skew, 04), (chroma_cens, skew, 05), (chroma_cens, skew, 06), (chroma_cens, skew, 07), (chroma_cens, skew, 08), (chroma_cens, skew, 09), (chroma_cens, skew, 10), (chroma_cens, skew, 11), (chroma_cens, skew, 12), (chroma_cens, std, 01), (chroma_cens, std, 02), (chroma_cens, std, 03), (chroma_cens, std, 04), (chroma_cens, std, 05), (chroma_cens, std, 06), (chroma_cens, std, 07), (chroma_cens, std, 08), (chroma_cens, std, 09), (chroma_cens, std, 10), (chroma_cens, std, 11), (chroma_cens, std, 12), (chroma_cqt, kurtosis, 01), (chroma_cqt, kurtosis, 02), (chroma_cqt, kurtosis, 03), (chroma_cqt, kurtosis, 04), (chroma_cqt, kurtosis, 05), (chroma_cqt, kurtosis, 06), (chroma_cqt, kurtosis, 07), (chroma_cqt, kurtosis, 08), (chroma_cqt, kurtosis, 09), (chroma_cqt, kurtosis, 10), (chroma_cqt, kurtosis, 11), (chroma_cqt, kurtosis, 12), (chroma_cqt, max, 01), (chroma_cqt, max, 02), (chroma_cqt, max, 03), (chroma_cqt, max, 04), ...]
Index: []

[0 rows x 519 columns]

In [37]:
generes = updated_songs['genre_id']['genre_id']['genre_id'].unique()
generes

array([ 20,   9,  11,  31,  16,   3,  14,  19,   1,  13,   2,   8,   4,
         7, 162,  12])

In [38]:
generes_dict_out = {genre:0 for genre in generes}

In [39]:
generes_dict_out

{20: 0,
 9: 0,
 11: 0,
 31: 0,
 16: 0,
 3: 0,
 14: 0,
 19: 0,
 1: 0,
 13: 0,
 2: 0,
 8: 0,
 4: 0,
 7: 0,
 162: 0,
 12: 0}

In [40]:
count = 0
for index,row in updated_songs.iterrows():
    genre = row['genre_id']['genre_id']['genre_id']
    length = len(updated_songs.loc[updated_songs['genre_id']['genre_id']['genre_id'] == genre])
    if length > 6000:
        count += 1
        generes_dict_out[genre] = generes_dict_out[genre]+1 
        out_csv = out_csv.append(row)
        updated_songs.drop(index,inplace=True)
    if count%1000 == 0:
        print(f"moved {count} songs")

moved 0 songs
moved 0 songs
moved 0 songs
moved 0 songs
moved 0 songs
moved 1000 songs
moved 2000 songs
moved 3000 songs
moved 4000 songs
moved 5000 songs
moved 6000 songs
moved 7000 songs
moved 7000 songs
moved 7000 songs
moved 7000 songs
moved 7000 songs
moved 7000 songs
moved 7000 songs
moved 8000 songs
moved 9000 songs
moved 10000 songs
moved 11000 songs
moved 12000 songs
moved 13000 songs
moved 14000 songs
moved 15000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs
moved 16000 songs

In [41]:
generes_dict_out

{20: 0,
 9: 0,
 11: 8182,
 31: 4608,
 16: 0,
 3: 0,
 14: 3372,
 19: 0,
 1: 0,
 13: 0,
 2: 0,
 8: 0,
 4: 0,
 7: 0,
 162: 0,
 12: 0}

In [42]:
updated_songs.to_csv("data/no_more_6000.csv")
out_csv.to_csv("data/extra_songs.csv")

In [43]:
out_csv.head()

feature    chroma_cens                                                    \
statistics    kurtosis
number              01        02        03        04        05        06
track_id
135           0.978402  0.623572  1.129261 -1.043970 -1.127288 -0.032642
136           0.915001 -0.643476 -0.460507 -0.530701 -0.364460 -0.226860
137           1.607191  1.199649  0.745765  1.430835 -0.155455  0.768487
138           1.501403  0.957514  1.276685  0.640389  0.442936  0.845533
148          -0.453950 -0.922267 -0.845767 -1.059609 -0.164252 -0.428238

feature                                             ...   tonnetz            \
statistics                                          ...       std
number            07        08        09        10  ...        05        06
track_id                                            ...
135        -0.878434 -0.916234 -0.743257  0.609235  ...  0.016731  0.020464
136        -0.060377 -0.267673 -0.063476  0.248518  ...  0.017915  0.016706
137         3.005594  2.779431  1.567088  2.431861  ...  0.011149  0.011149
138         0.917440  0.770691  1.787260  5.555072  ...  0.012823  0.012725
148        -1.483532 -1.171610 -1.154401 -1.209550  ...  0.023469  0.020913

feature           zcr                                                    \
statistics   kurtosis       max      mean    median       min      skew
number             01        01        01        01        01        01
track_id
135         -0.038451  0.234863  0.050837  0.050781  0.003418  0.297873
136          0.558770  0.147461  0.036686  0.034180  0.003418  0.805020
137         40.950294  0.619629  0.088439  0.086914  0.000000  3.275552
138          5.126394  0.627441  0.102232  0.099121  0.004883  0.633483
148         77.361687  0.853516  0.063609  0.052734  0.000000  7.055963

feature              genre_id
statistics       std genre_id
number            01 genre_id
track_id
135         0.024899     11.0
136         0.016905     11.0
137         0.021831     31.0
138         0.034676     31.0
148         0.063442     31.0

[5 rows x 519 columns]