In [295]:
import numpy as np
import pandas as pd
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

In [296]:
tracks = pd.read_csv("/home/bravo8234/Desktop/kaggle_datasets/fma_metadata/tracks.csv")
tracks.head()

/tmp/ipykernel_247772/3585816232.py:1: DtypeWarning: Columns (0,1,5,6,8,12,18,20,21,22,24,33,34,38,39,44,47,49) have mixed types. Specify dtype option on import or set low_memory=False.
  tracks = pd.read_csv("/home/bravo8234/Desktop/kaggle_datasets/fma_metadata/tracks.csv")

,Unnamed: 0,album,album.1,album.2,album.3,album.4,album.5,album.6,album.7,album.8,...,track.10,track.11,track.12,track.13,track.14,track.15,track.16,track.17,track.18,track.19
0,NaN,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
1,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
4,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World

In [11]:
tracks.columns

Index(['Unnamed: 0', 'album', 'album.1', 'album.2', 'album.3', 'album.4',
       'album.5', 'album.6', 'album.7', 'album.8', 'album.9', 'album.10',
       'album.11', 'album.12', 'artist', 'artist.1', 'artist.2', 'artist.3',
       'artist.4', 'artist.5', 'artist.6', 'artist.7', 'artist.8', 'artist.9',
       'artist.10', 'artist.11', 'artist.12', 'artist.13', 'artist.14',
       'artist.15', 'artist.16', 'set', 'set.1', 'track', 'track.1', 'track.2',
       'track.3', 'track.4', 'track.5', 'track.6', 'track.7', 'track.8',
       'track.9', 'track.10', 'track.11', 'track.12', 'track.13', 'track.14',
       'track.15', 'track.16', 'track.17', 'track.18', 'track.19'],
      dtype='object')

In [297]:
tracks.loc[0,'Unnamed: 0'] = 'track_id'

In [298]:
tracks.head()

,Unnamed: 0,album,album.1,album.2,album.3,album.4,album.5,album.6,album.7,album.8,...,track.10,track.11,track.12,track.13,track.14,track.15,track.16,track.17,track.18,track.19
0,track_id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
1,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
4,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World

In [299]:
wanted_col = tracks.loc[0]
type(wanted_col)

pandas.core.series.Series

In [300]:
type(tracks.columns)

pandas.core.indexes.base.Index

In [301]:
list(tracks.columns.values)

['Unnamed: 0',
 'album',
 'album.1',
 'album.2',
 'album.3',
 'album.4',
 'album.5',
 'album.6',
 'album.7',
 'album.8',
 'album.9',
 'album.10',
 'album.11',
 'album.12',
 'artist',
 'artist.1',
 'artist.2',
 'artist.3',
 'artist.4',
 'artist.5',
 'artist.6',
 'artist.7',
 'artist.8',
 'artist.9',
 'artist.10',
 'artist.11',
 'artist.12',
 'artist.13',
 'artist.14',
 'artist.15',
 'artist.16',
 'set',
 'set.1',
 'track',
 'track.1',
 'track.2',
 'track.3',
 'track.4',
 'track.5',
 'track.6',
 'track.7',
 'track.8',
 'track.9',
 'track.10',
 'track.11',
 'track.12',
 'track.13',
 'track.14',
 'track.15',
 'track.16',
 'track.17',
 'track.18',
 'track.19']

In [302]:
dict_cols = dict(zip(list(tracks.columns.values), list(tracks.loc[0].values)))

In [303]:
tracks = tracks.rename(columns=dict_cols)

In [304]:
tracks.head()

,track_id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
0,track_id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
1,track_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
4,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World

In [305]:
tracks = tracks.drop([0,1])
tracks.head()

,track_id,comments,date_created,date_released,engineer,favorites,id,information,listens,producer,...,information,interest,language_code,license,listens,lyricist,number,publisher,tags,title
2,2,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,4656,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1293,NaN,3,NaN,[],Food
3,3,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1470,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,514,NaN,4,NaN,[],Electric Ave
4,5,0,2008-11-26 01:44:45,2009-01-05 00:00:00,NaN,4,1,<p></p>,6073,NaN,...,NaN,1933,en,Attribution-NonCommercial-ShareAlike 3.0 Inter...,1151,NaN,6,NaN,[],This World
5,10,0,2008-11-26 01:45:08,2008-02-06 00:00:00,NaN,4,6,NaN,47632,NaN,...,NaN,54881,en,Attribution-NonCommercial-NoDerivatives (aka M...,50135,NaN,1,NaN,[],Freeway
6,20,0,2008-11-26 01:45:05,2009-01-06 00:00:00,NaN,2,4,"<p>Â ""spiritual songs"" from Nicky Cook</p>",2710,NaN,...,NaN,978,en,Attribution-NonCommercial-NoDerivatives (aka M...,361,NaN,3,NaN,[],Spiritual Level

In [63]:
len(tracks.columns)

53

In [45]:
unwanted_columns = pd.DataFrame()

In [134]:
columns = list(set(tracks.columns.values))
len(columns)

53

In [127]:
dict_cols = {columns[i]: 0 for i in range(len(columns))}

In [128]:
for col in list(tracks.columns.values):
    dict_cols[col] += 1

In [129]:
dict_cols

{'listens_1': 1,
 'title_2': 1,
 'longitude': 1,
 'location': 1,
 'genres_all': 1,
 'id_2': 1,
 'listens_2': 1,
 'track_id': 1,
 'publisher': 1,
 'engineer': 1,
 'license': 1,
 'wikipedia_page': 1,
 'producer': 1,
 'active_year_begin': 1,
 'date_created_3': 1,
 'composer': 1,
 'information_1': 1,
 'information_2': 1,
 'split': 1,
 'date_released': 1,
 'bit_rate': 1,
 'related_projects': 1,
 'date_created_1': 1,
 'tracks': 1,
 'interest': 1,
 'name': 1,
 'members': 1,
 'date_recorded': 1,
 'type': 1,
 'bio': 1,
 'comments': 3,
 'favorites': 3,
 'id_1': 1,
 'latitude': 1,
 'subset': 1,
 'duration': 1,
 'genres': 1,
 'genre_top': 1,
 'active_year_end': 1,
 'tags': 3,
 'lyricist': 1,
 'number': 1,
 'associated_labels': 1,
 'date_created_2': 1,
 'website': 1,
 'language_code': 1,
 'title_1': 1}

In [101]:
tracks = tracks.rename(columns={"Goods_2":"title_2","Goods_1":"title_1"})

In [322]:
tracks = tracks.drop(columns=["lyricist","number","publisher"])

In [323]:
tracks.columns.values

array(['track_id', 'id', 'id', 'split', 'subset', 'bit_rate', 'duration',
       'genre_top'], dtype=object)

In [325]:
cols = []
count = 1
for column in tracks.columns:
    if column == 'id':
        cols.append(f'id_{count}')
        count+=1
        continue
    cols.append(column)
tracks.columns = cols

In [326]:
tracks = tracks.rename(columns={"id_1":"album_id","id_2":"artist_id"})

In [327]:
tracks.head()

  track_id album_id artist_id     split  subset bit_rate duration genre_top
2        2        1         1  training   small   256000      168   Hip-Hop
3        3        1         1  training  medium   256000      237   Hip-Hop
4        5        1         1  training   small   256000      206   Hip-Hop
5       10        6         6  training   small   192000      161       Pop
6       20        4         4  training   large   256000      311       NaN

In [147]:
tracks["subset"]

2          small
3         medium
4          small
5          small
6          large
           ...
106571     large
106572     large
106573     large
106574     large
106575     large
Name: subset, Length: 106574, dtype: object

In [151]:
small_tracks = tracks[tracks['subset'] == 'small']

In [231]:
tracks = tracks.drop(columns={"genres","genres_all"})

In [232]:
tracks.columns

Index(['track_id', 'album_id', 'artist_id', 'split', 'subset', 'bit_rate',
       'duration', 'genre_top'],
      dtype='object')

In [233]:
tracks = tracks.dropna()

In [234]:
tracks.head()

   track_id album_id artist_id     split  subset bit_rate duration genre_top
2         2        1         1  training   small   256000      168   Hip-Hop
3         3        1         1  training  medium   256000      237   Hip-Hop
4         5        1         1  training   small   256000      206   Hip-Hop
5        10        6         6  training   small   192000      161       Pop
11      134        1         1  training  medium   256000      207   Hip-Hop

In [225]:
tracks.isna().any()

track_id      False
album_id      False
artist_id     False
split         False
subset        False
bit_rate      False
duration      False
genre_top     False
genres        False
genres_all    False
dtype: bool

In [328]:
genres = pd.read_csv("/home/bravo8234/Desktop/kaggle_datasets/fma_metadata/genres.csv")

In [330]:
genres = genres.drop(columns={"#tracks","top_level","parent"})

In [329]:
genres = genres[genres["#tracks"] > 0]

In [331]:
genres.head()

   genre_id          title
0         1    Avant-Garde
1         2  International
2         3          Blues
3         4           Jazz
4         5      Classical

In [265]:
genres[genres["title"] == "Banter"]["genre_id"].values

array([374])

In [332]:
genres_dict = dict(zip(genres.title,genres.index))

In [338]:
tracks = tracks.dropna()

In [336]:
tracks["genre_id"].replace(genres_dict,inplace=True)

In [339]:
tracks = tracks.drop(columns={"split","subset","genre_top"})

In [340]:
tracks["bit_rate"].apply(lambda x: int(x))

2         256000
3         256000
4         256000
5         192000
11        256000
           ...
106570    320000
106571    320000
106572    320000
106573    320000
106574    320000
Name: bit_rate, Length: 49598, dtype: int64

In [343]:
tracks.head()

   track_id album_id artist_id bit_rate duration  genre_id
2         2        1         1   256000      168      20.0
3         3        1         1   256000      237      20.0
4         5        1         1   256000      206      20.0
5        10        6         6   192000      161       9.0
11      134        1         1   256000      207      20.0

In [342]:
for col in list(tracks.columns.values):
    tracks[col].apply(lambda x: int(x))

In [ ]:
tracks.to_csv(file_name, sep='\t', encoding='utf-8')